// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

.container {
}

.logo-container {
  height: 100px;
}
.logo-column {
  background: #fff5eb;
  .logo {
    width: 50%;
    height: 60px;
    padding: 20px 160px;
  }
}

.nav-container td {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #f09800;
}
.nav-row {
  display: revert !important;
}
.nav-column th {
  text-align: center;
  font-weight: 500;
  color: #ffeed1;
}
.header-container {
  width: 640px;
  height: 183px;
  position: relative;
}
img.transaction-header {
  height: max-content;
  position: absolute;
}
.header-text {
  position: relative;
  color: #ffeed1;
  font-size: 40px;
  font-weight: 700;
  background-image: url("https://i.ibb.co/GtDB0BX/header-banner.jpg");
  background-size: contain;
  display: grid;
  height: 63%;
  text-align: center;
  padding-top: 67px;
}
.container.button-container {
  height: 100px;
  & span {
    background-color: #f09800;
    color: #fff5eb;
    font-weight: 700;
    text-align: center;
    display: grid;
    position: relative;
    width: 210px;
    padding: 10px 0px;
    margin-top: 27px;
    margin-left: 213px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.receipt-container {
  height: 46rem;
  .receipt-top {
    width: 35rem;
    height: 40rem;
    outline: #f09800 2px solid;
    background-color: #fff5eb;
    position: relative;
    margin-left: 6.3%;
    .summary-text {
      position: relative;
      color: #f09800;
      font-weight: 700;
      font-size: 24px;
      display: grid;
      padding-top: 25px;
      margin-left: 12rem;
    }
    .divider-line {
      background-color: #f09800;
      height: 1.5px;
      width: 30rem;
      display: flex;
      margin-left: 2.5rem;
      position: relative;
      margin-top: 15px;
    }
  }
}
.item-row {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 38px;
  & .item-description {
    margin: 0px;
  }
  .item-title {
    span {
      font-weight: 500;
      color: #005670;
    }
  }
  .item-quantity {
    & span {
      color: #005670;
      font-size: 12px;
    }
  }
  .item-price {
    padding-top: 20px;
    span {
      color: #005670;
      font-size: 12px;
      padding-left: 23px;
    }
  }
}
.order-detail {
  margin-top: 10px;
  & span {
  }
  th.detail-description.columns {
    & span {
      padding-left: 40px;
      font-size: 14px;
      color: #005670;
    }
  }
  .detail-price {
    & span {
      padding-left: 55px;
      font-size: 14px;
      color: #005670;
    }
    &.price-nudge span {
      padding-left: 62px;
    }
  }
}

.order-total {
  margin-top: 10px;
  .total-title {
    & span {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 24px;
      color: #005670;
      padding-left: 40px;
    }
  }
  .total-price {
    span {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 24px;
      color: #005670;
      padding-left: 67px;
    }
  }
}
.thanks-row {
  margin-top: 50px;
  .thanks-col {
    background-color: #f09800;
    padding: 5px 0;
    & .thanks-text {
      font-size: 36px;
      font-weight: 700;
      color: white;
      padding-left: 3rem;
    }
  }
}
.rewards-container {
  height: 21.5rem;
  background: #fff5eb !important;
  img {
    padding-left: 37px;
    padding-top: 30px;
  }
}

.footer-container {
  height: 15rem;
  background: #f09800 !important;
  .email-text {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 20%;
  }
  .privacy-text span {
    padding-left: 9rem;
    text-decoration: underline;
    padding-bottom: 10px;
  }
  .contact-text span {
    padding-right: 9rem;
    padding-bottom: 10px;
    text-decoration: underline;
    padding-left: 20%;
  }
  .social-row .columns {
    padding-top: 10px;
    padding-bottom: 15px;
    & img {
      cursor: pointer;
    }
    & .tiktok-logo {
      padding: 0px;
      border-radius: 18px;
      background-color: #fff;
    }
  }
  .address-text {
    padding-left: 18% !important;
    & span {
      text-align: center;
    }
  }
  span {
    color: white;
    display: flex;
    padding-right: 20px;
  }
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3b5998 !important;
  border-color: #3b5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #db4a39 !important;
  border-color: #db4a39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

@media only screen and (min-width: 640px) {
}
@media only screen and (max-width: 640px) {
  html {
    width: 40rem !important;
  }
  .header-text {
    font-size: 38px !important;
    left: 0 !important;
    height: 58% !important;
  }
  .button-container {
    position: relative;
    span {
      margin-left: 198px !important;
    }
  }
  .receipt-container {
    margin: 0;
  }
  .receipt-top {
    margin-left: 0px;
    width: 26rem !important;
    position: relative;
    margin-left: 16% !important;
    .summary-text {
      margin-left: 0rem !important;
      text-align: center;
    }
    .receipt-content {
      padding-bottom: 20px !important;
    }
    .divider-line {
      width: 23rem !important;
      margin-left: 1.5rem !important;
    }
    .order-detail .detail-price span {
      padding-left: 30px !important;
    }
    .order-detail .detail-price.price-nudge span {
      padding-left: 38px !important;
    }
    table th.total-price span {
      padding-left: 32px !important;
    }
  }
  .row .item-row {
    margin-left: 0px;
    img {
      display: flex;
      width: 75% !important;
      position: relative;
      padding-left: 42px;
      padding-bottom: 20px;
    }
    .item-title .columns {
      padding-left: 40px !important;
    }
    .item-quantity .columns {
      padding-left: 40px !important;
    }
    .item-price {
      padding-top: 0px !important;
      span {
        padding-left: 40px !important;
      }
    }
  }
  .thanks-col {
    padding: 10px 0px !important;
    .thanks-text {
      font-size: 28px !important;
      padding-left: 6rem !important;
    }
  }
  .rewards-container {
    height: 16rem;
    img {
      height: 200px !important;
      position: absolute;
      padding-left: 6.5rem !important;
    }
  }

  .privacy-text span {
    padding-left: 8rem !important;
  }
  .social-row {
    width: 25%;
    .x-logo {
      width: 30% !important;
    }
    .instagram-logo {
      width: 30% !important;
    }
    .linkedin-logo {
      width: 30% !important;
    }
    .tiktok-logo {
      width: 30% !important;
      border-radius: 2px !important;
    }
  }
  .address-text span {
    padding-left: 6rem;
  }
}
